In [1]:
print("hola")

hola

#### Fundamentos de python
* Variables
* Operadores matematicos
* Operadores logicos
* Operadores de comparacion
* Estructuras de control 
    - Condicionales simples
    - Condicionales animados
    - Condicionales encadenados
    - Ciclos finitos
    - Ciclos infinitos
* Funciones
* Estructuras de datos
    - Cadenas de caracteres
    - Listas
    - Tuplas
    - Diccionarios

### Variales

In [3]:
name = "josefino"
name

'josefino'

In [4]:
lastname = "primero"

In [5]:
last_name = "primero"

In [6]:
last-name = "primero"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (906108882.py, line 1)

In [7]:
last.name = "primero"

NameError: name 'last' is not defined

In [8]:
LastName= "primero2"

In [12]:
last_name
LastName

'primero'

In [13]:
lastName = "priero3"

In [14]:
base = 23
height = 10

area= base * height
area

230

In [16]:
print(area)

230

In [31]:
print("area:", area)
print("apellido:", last_name)
print("base del triangulo:", base)

area: 230
apellido: primero
base del triangulo: 23

#### Operadores matematicos basicos

In [34]:
# suma
number_1 = 10
number_2 = 20
result = number_1 + number_2
print("El resultado de la suma es:", result)

El resultado es: 30

In [35]:
# resta
number_1 = 10
number_2 = 20
result = number_1 - number_2
print("El resultado de la resta es:", result)

El resultado de la resta es: -10

In [36]:
# multiplicacion
number_1 = 10
number_2 = 20
result = number_1 * number_2
print("El resultado de la multiplicacion es:", result)

El resultado de la multiplicacion es: 200

In [37]:
# division
number_1 = 10
number_2 = 20
result = number_1 / number_2
print("El resultado de la division es:", result)

El resultado de la division es: 0.5

In [41]:
print( type(last_name) )
print( type(number_1) )

<class 'str'>
<class 'int'>

In [42]:
print( type(last_name) )
print( type(number_1) )
print( type(result) )

<class 'str'>
<class 'int'>
<class 'float'>

### Estructuras de control

In [1]:
name1 = "pablo"
age = 16

In [ ]:
# if condicion:
#   print("saludos")

In [2]:
# condicional simple 
if (age > 15):
    print("puedes pasar")

puedes pasar

In [ ]:
# operadores de comparacion
# mayor que >
# menor que <
# mayor igual >=
# menor igual <=
# igual? ==
# diferente? !=

In [13]:
# condicional simple 
name1 = input ("Ingrese su nombre: ")
age = input ("Ingrese su edad: ")
#age = int(age)
age = float(age)
if (age > 15):
    print("puedes pasar", name1)

puedes pasar Homero

In [15]:
type(age)

float

In [14]:
age

16.0

In [ ]:
# Operadores logicos
# and
# or 
# not

In [17]:
# condicional simple 
name1 = input ("Ingrese su nombre: ")
age = int(input ("Ingrese su edad: "))
day = input ("Ingrese dia de la semana:")
#age = int(age)

if (age > 15):
    if day == "sabado":
        print("puedes pasar", name1)

puedes pasar pedro

In [20]:
# condicional simple 
name1 = input ("Ingrese su nombre: ")
age = int(input ("Ingrese su edad: "))
day = input ("Ingrese dia de la semana:")
#age = int(age)

if (age > 15) and (day == "sabado" or "viernes" ):
        print("puedes pasar", name1)

puedes pasar pablo

In [ ]:
# condicional simple 
name1 = input ("Ingrese su nombre: ")
age = int(input ("Ingrese su edad: "))
day = input ("Ingrese dia de la semana:")
#age = int(age)

if (age > 15) and (day == "sabado" or day == "viernes" ):
        print("puedes pasar", name1)

In [22]:
# condicional simple 
name1 = input ("Ingrese su nombre: ")
age = int(input ("Ingrese su edad: "))
day = input ("Ingrese dia de la semana:")
#age = int(age)

if (age > 15):
    if (day == "sabado") or (day == "viernes"):
        print("puedes pasar", name1)

puedes pasar Pablo

In [23]:
# condicional simple 
name1 = input ("Ingrese su nombre: ")
age = int(input ("Ingrese su edad: "))
day = input ("Ingrese dia de la semana:")
#age = int(age)

if (age > 15):
    print("puedes pasar", name1)
else:
    print ("Fuera de aqui", name1)
    # if (day == "sabado") or (day == "viernes"):
    #     print("puedes pasar", name1)

Fuera de aqui Pedro

In [26]:
# condicional simple 
name1 = input ("Ingrese su nombre: ")
age = int(input ("Ingrese su edad: "))

#age = int(age)

if (age > 15):
    day = input ("Ingrese dia de la semana:")
    
    if (day == "sabado") or (day == "viernes"):
        print("puedes pasar", name1)
    else:
        print ("No es sabado ni viernes")
else:
    print("Menor de 15")

Menor de 15

#### Condicionaeles encadenados

In [40]:
# condicional simple 
# name1 = input ("Ingrese su nombre: ")
# age = int(input ("Ingrese su edad: "))
day = input ("Ingrese dia de la semana:")

if day == "lunes":
    print("Voy al cine")
    
elif day == "martes": 
    print("Voy al gym")

elif day == "miercoles": 
    print("Voy al mercado")

elif day == "jueves": 
    print("Voy al padel")

elif day == "viernes": 
    print("Voy de farra")
else:
    print("Fin de semana")

#     else:
#         print ("No viernes")
# else:
#     print("Menor de 15")

Voy al mercado

#### Ciclos finitos -> for

In [50]:
# for var in range(start, stop, step):
for var in range(5,11,2):
    if var == 5:
        print("encontre el", var)

encontre el 5

In [41]:
range(5)

range(0, 5)

In [51]:
# listas
name_list = ["jose","maria", "pedro"]

In [52]:
len(name_list)

3

In [53]:
type(name_list)

list

In [54]:
name_list.append("pablo")

In [57]:
name_list.append("jose")

In [58]:
name_list

['jose', 'maria', 'pedro', 'pablo', 'jose']

In [59]:
name_list. count("jose")

2

In [60]:
name_list.sort()

In [61]:
name_list

['jose', 'jose', 'maria', 'pablo', 'pedro']

In [62]:
name_list_2 = name_list.copy()

In [63]:
name_list_2

['jose', 'jose', 'maria', 'pablo', 'pedro']

In [65]:
# recorrer la lista
for name in name_list:
    if name == "maria":
        print("maria te encontre")

maria te encontre

In [69]:
name_list[3]

'pablo'

In [70]:
print(name_list)

['jose', 'jose', 'maria', 'pablo', 'pedro']

In [73]:
name_list[0:3]

['jose', 'jose', 'maria']

In [74]:
name_list[:3]

['jose', 'jose', 'maria']

In [76]:
name_list

['jose', 'jose', 'maria', 'pablo', 'pedro']

In [78]:
name_list[-1]

'pedro'

In [80]:
name_list[-4:-1]

['jose', 'maria', 'pablo']

In [77]:
name_list[2:4]

['maria', 'pablo']

In [83]:
len(name_list)

5

In [85]:
# recorrer la lista por el indice 
for name in range(len(name_list)):
    print(name_list[name])

jose
jose
maria
pablo
pedro